@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilo para popup inicio-desktop */
@media (min-width: 640px) {
  .clip-vase {
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    border-radius: 1rem;
  }
}
@media print {
  .no-print {
    display: none !important;
  }

  nav, aside, header, footer {
    display: none !important;
  }

  body, main {
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
  }
  
  td:last-child, th:last-child {
      display: none !important;
  }
}

@layer utilities {
  @keyframes heartbeat {
    0% { transform: scale(1); }
    14% { transform: scale(1.1); }
    28% { transform: scale(1); }
    42% { transform: scale(1.1); }
    70% { transform: scale(1); }
  }

  .animate-heartbeat {
    animation: heartbeat 2s infinite;
  }
}